<h1>Show Bid</h1>

<ul>

  <li>
    <strong>Bid amount:</strong>
    <%= @bid.bid_amount %>
  </li>

  <li>
    <strong>Hidden high bid:</strong>
    <%= @bid.hidden_high_bid %>
  </li>

  <li>
    <strong>Expires at:</strong>
    <%= @bid.expires_at %>
  </li>

  <li>
    <strong>Closed:</strong>
    <%= @bid.closed %>
  </li>

  <li>
    <strong>Nominated by:</strong>
    <%= @bid.nominated_by %>
  </li>

</ul>
