/* This file is for your main application CSS */
/*@import "./phoenix.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import "./custom.css";*/

@layer base {
  body {
    @apply antialiased relative font-sans bg-white;
  }
}

h1 {
  @apply text-center text-slate-900 font-extrabold text-4xl mb-8;
}

/* Alerts and form errors */

.alert {
  @apply w-full m-5 p-[15px] mb-20 border border-solid border-transparent rounded;
}

.alert-info {
  @apply text-[#31708f] bg-[#d9edf7] border-[#bce8f1];
}

.alert-warning {
  @apply text-[#8a6d3b] bg-[#fcf8e3] border-[#faebcc];
}

.alert-danger {
  @apply text-[#a94442] bg-[#f2dede] border-[#ebccd1];
}

.alert p {
  @apply mb-0;
}

.alert:empty {
  @apply hidden;
}

/* Auth */

.auth {
  @apply px-6 mt-8 mx-auto w-full max-w-md;

  h3 {
    @apply mt-6 mb-2 text-xl font-bold text-slate-900;
  }

  form {
    @apply bg-slate-200 px-10 py-8 mb-6 shadow rounded-lg;

    @apply px-6 mt-8 mx-auto w-full max-w-md;

    label {
      @apply block mb-2 text-sm font-medium text-slate-700;
    }

    input[type="email"],
    input[type="password"] {
      @apply mb-4 appearance-none block w-full px-3 py-2 border border-slate-300 rounded-md transition duration-150 ease-in-out text-sm;
    }

    input[type="email"]:focus,
    input[type="password"]:focus {
      @apply outline-none ring ring-indigo-300 border-indigo-300;
    }

    .checkbox-field {
      @apply flex items-center mb-4;

      input[type="checkbox"] {
        @apply m-0 h-4 w-4 text-slate-700 transition duration-150 ease-in-out;
      }

      label {
        @apply m-0 ml-2;
      }
    }

    button {
      @apply mt-2 w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 transition duration-150 ease-in-out;
    }

    button:focus {
      @apply outline-none border-indigo-700 ring ring-indigo-300;
    }

    button:active {
      @apply bg-indigo-700;
    }

    button:hover {
      @apply bg-indigo-500;
    }
  }
}
